[project]
	description = test_library Managerment
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/teavpiseth (teavpiseth)
[access "refs/for/refs/*"]
	read = group user/teavpiseth (teavpiseth)
	push = group user/teavpiseth (teavpiseth)
	label-Code-Review = -2..+2 group user/teavpiseth (teavpiseth)
	label-Verified = -1..+1 group user/teavpiseth (teavpiseth)
	rebase = group user/teavpiseth (teavpiseth)
	removeReviewer = group user/teavpiseth (teavpiseth)
	submit = group user/teavpiseth (teavpiseth)
[access "refs/heads/*"]
	read = group user/teavpiseth (teavpiseth)
	create = group user/teavpiseth (teavpiseth)
	push = +force group user/teavpiseth (teavpiseth)
	pushMerge = group user/teavpiseth (teavpiseth)
[access "refs/tags/*"]
	push = +force group user/teavpiseth (teavpiseth)
	pushTag = group user/teavpiseth (teavpiseth)
	pushSignedTag = group user/teavpiseth (teavpiseth)
